<h1>Scheduling App</h1>

<% if current_user %>
  <h5>You are logged in as: <%= current_user.first_name %> <%= current_user.last_name %></h5>
<% else %>
  <div class="row m-3">
    CALL TO ACTION!
  </div>
<% end %>